/* || Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* || General Styles  */

:root {
  --COLOR-PRIMARY: #9c27b0;
  --COLOR-SECONDARY: #e5e5e5;
  --FONT: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* || Utilities  */

.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 600px;
  width: 90%; /*on smaller screen it creates horizontal space*/
}

/* || Breakpoints */
/* NOTE: mobile first responsive design scheme is used  */

/* small screens */
@media (min-width: 425px) {
}

/* medium screens  */
@media (min-width: 768px) {
}

/* larger screens  */
@media (min-width: 1024px) {
}
