/* || Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* || General Styles  */

:root {
  --COLOR-PRIMARY: #9c27b0;
  --COLOR-SECONDARY: #e5e5e5;
  --FONT: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--FONT);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

/* || Hero  */

.hero {
  background-color: var(--COLOR-PRIMARY);
}

.hero__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  padding: 27px 0;
  text-align: center;
}

.hero__img {
  max-width: 145px;
  width: 100%; /*for responsive image if width is less than max-width*/
}

.hero__heading {
  font-size: clamp(1.5rem, 16vw, 2.3rem); /*responsive font*/
  font-weight: 100;
  color: white;
}

.hero__heading span {
  display: block;
}

.hero__btn {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  font-size: 1.1rem;
  font-weight: 300;
  max-width: 245px;
  padding: 17px;
  width: 100%;
}

/* || Utilities  */

.container {
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
  width: 80%; /*on smaller screen it creates horizontal space*/
}

/* || Breakpoints */
/* NOTE: mobile first responsive design scheme is used  */

/* small screens */
@media (min-width: 425px) {
  .hero__heading {
    font-size: 3rem;
  }

  .hero__heading span {
    margin-bottom: 3px;
  }

  .hero__btn {
    max-width: 260px;
    padding: 19px;
  }
}

/* medium screens  */
@media (min-width: 768px) {
}

/* larger screens  */
@media (min-width: 1024px) {
  .hero__img {
    max-width: 155px;
  }
}
